/****************************************
 * @imports (mostly fonts)
 ****************************************/
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

/****************************************
 * RESET RULES
 ****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************
 * SITE RULES
 ****************************************/

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14pt;
}

/****************************************
 * HEADER
 ****************************************/

h1 {
    font-size: 36pt;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

#ncs-logo {
    float: left;
}

header {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    height: auto;
}

.clearfix {
    clear: both;
}

header h1 {
    text-align: center;
}

#menu-button {
   display: none;
}

#nav-menu {
    list-style-type: none;
    text-align: center;
    margin-top: 1em;
}

.dropdown-button {
    display: inline-block;
    border: 1px solid black;
    padding: 0.25em;
    cursor: pointer;
    /* Clicking the button should open the menu,
     * not highlight the text in the menu.
     */
    user-select: none;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0));
}

.selected-dropdown-button {
   background-image: none;
   background-color: white;
}

.dropdown-list {
    display: none;
    border: 1px solid black;
}

.dropdown-item {
   padding: 0.25em;
}

.visible-dropdown-list {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    margin-top: 12px;
    min-width: 100%;
    white-space: nowrap;
}

/* Add margins only BETWEEN links. Such links
 * are always followed by another, so this selector
 * works */
.dropdown-button + .dropdown-button {
    margin-left: 2em;
}

.dropdown-item a {
   text-decoration: none;
   color: black;
}

header nav .dropdown-item + .dropdown-item {
   border-top: 1px solid black;
}

/****************************************
 * CONTENT
 ****************************************/

article {
    clear: both;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 120%;
    background-image: linear-gradient(to bottom, rgba(230, 237, 14, 0.5), rgba(230, 237, 14, 0));
}

p {
    margin-top: 1em;
}

/****************************************
 * FOOTER
 ****************************************/

footer {
    border-top: 1px black solid;
    margin-top: 1em;
    text-align: center;
}

#footer-copyright {
   font-size: 8pt;
}


/****************************************
 * MEDIA QUERIES
 ****************************************/

@media (max-width: 1024px) {
   body {
      width: 100%;
   }
}

@media (max-width: 700px) {

   #menu-button {
      box-shadow:inset 0px 1px 3px 0px #91b8b3;
      background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
      background-color:#768d87;
      border-radius:5px;
      border:1px solid #566963;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:arial;
      font-size:15px;
      font-weight:bold;
      padding:11px 23px;
      text-decoration:none;
      text-shadow:0px -1px 0px #2b665e;
   }

   #menu-button:hover {
      background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
      background-color:#6c7c7c;
   }

   #menu-button:active {
      position:relative;
      top:1px;
   }

   #ncs-logo {
      display: none;
   }

   header nav {
      float: left;
      margin: 1em;
   }

   #nav-menu {
      display: none;
   }

   #nav-menu.visible-nav-menu {
      display: block;
   }

   #nav-menu {
      position: absolute;
      background-color: white;
   }

   .dropdown-button {
       display: block;
       border: 1px solid black;
       padding: 0.25em;
       cursor: pointer;
       /* Clicking the button should open the menu,
        * not highlight the text in the menu. Chrome
        * still requires the vendor prefix.
        * 
        * TODO: remove the vendor prefix once I hook
        * up the PHP tool that will auto-generate them.
        */
       -webkit-user-select: none;
       user-select: none;
       position: relative;
   }

   .dropdown-button + .dropdown-button {
      margin-left: 0;
      border-top: none;
   }

   .visible-dropdown-list {
      left: 100%;
      top: -13px;
   }
}
