{%extends "master.html" %}

{% block body %}
<h2>Our Charter</h2>

<p>
   The NCS Charter document provides for the requirements of Oregon's Charter
   School Law (ORS Chapter 338) and Eugene School District 4J Policies Section
   7226.3. The document is available to the public in three formats:
</p>


<p>
   Web Document: The <a href="complete-NCS-charter.html">Web document in HTML format</a>
   contains the full text of the proposal per Charter Policy 7226.3 but does
   not include cover letter or appendices.
</p>

<p>
   PDF: <a href="/resources/pdf/NCSCharter.pdf">The PDF document</a> contains
   the full text of the proposal per Charter Policy 7226.3 but does not include
   cover letter or appendices. You can view the PDF document here.
</p>

<p>
   Hard Copy: The full version of the NCS Charter is available at the NCS Main
   Office at: 2550 Portland St, Eugene, OR. 97405.
   Please call <a href="tel:5413441229">(541) 344-1229</a> or email
   <a href="mailto:info@networkcharterschool.org">info@networkcharterschool.org</a>
   for more information about how to access this document.
</p>

<p>
   Questions or comments regarding the site may be sent to:
   <a href="mailto:info@networkcharterschool.org">info@networkcharterschool.org</a>.
</p>
{% endblock %}
