{%extends "master.html" %}

{% block body %}
<h2>Enrollment</h2>

<p>
   Our main campus at 2550 Portland, one block west of Willamette.  We offer up to
   6 courses a period on this campus.  In addition, students still take courses at
   MECCA and Peace Village classrooms downtown and in the yurt at Alton Baker
   Park.
</p>

<p>
   Enrollment for students in grades 7-12 is currently open for the 2014-15 school
   year.  If you are interested in enrolling at NCS, you can contact the office to
   receive an enrollment packet by calling <a href="tel:5413441229">(541)
   344-1229</a> or emailing info@networkcharterschool.org  You may also call
   with any additional questions you have. 
</p>

<p>
   Fees have become a routine fact of life in public schools, and NCS is no 
   exception. At registration, please expect to contribute up to $75 for supplies, 
   $20/trimester for a bus pass and up to $100 in special fees for certain courses. 
   Note that every student admitted to NCS is enrolled in courses regardless of 
   ability to pay. But we urge all families to pay what they can, sharing the 
   burden of expenses in these hard times. We do not issue a "must have" school-wide 
   supply list, choosing instead to lay in a vast store of paper, pencils, and 
   other learning tools at the beginning of the year which are then distributed to 
   students as needed. Courses with special fees have unusual material needs. For 
   example, in the culinary classes, students learn to cook many different meals 
   which they then eat. Note that culinary students cook (and eat) breakfast and 
   lunch for the whole school every day, but they also cook special foods that are 
   part of their curriculum, not the meals program, and the fees pay for the 
   special foods. In the fishing course, students' fees pay for licenses. 
</p>

<p>
   Because teaching sustainable life choices is part of the mission of Network
   Charter School, we encourage all students to travel by foot, bike, or LTD bus.
   We can provide bus passes to all students through a special arrangement with
   LTD, but we strongly urge all families to contribute to the cost of these
   passes, which is about 117 per quarter or 150 for the whole year.
</p>

<p>
   At enrollment, our first concern is to provide each student with the
   educational experience that will be most personally rewarding while at the same
   time meeting state middle and high school standards.  We do fundraising to fill
   in the gaps between what we receive from public funding and parent
   contributions, on one hand, and what it costs to provide a comprehensive,
   responsive educational program, on the other.
</p>

{% endblock %}
