{%extends "master.html" %}

{% block body %}
<h2>Enrollment</h2>

<p>
   Our main campus at 2550 Portland, one block west of Willamette.  We offer up to
   6 courses a period on this campus.  In addition, students still take courses at
   MECCA and Peace Village classrooms downtown and in the yurt at Alton Baker
   Park.
</p>

<p>
   Enrollment for students in grades 7-12 is currently open for the 2012-13 school
   year.  If you are interested in enrolling at NCS, you can contact the office to
   receive an enrollment packet by calling (541) 344-1229 or emailing
   info@networkcharterschool.org  You may also call with any additional questions
   you have. 
</p>

<p>
   Fees have become a sad fact of life in all public schools, and NCS is no
   different.  At registration, prepare to be asked for a contribution of 175 for
   supplies and special fees for certain courses.  We do not issue a "must have"
   schoolwide supply list, choosing instead to keep our requirements simple and
   lay in a vast store of paper, pencils, and other tools of learning at the
   beginning of the year, distributing them as needed.  Most courses with special
   fees have unusual materials needs.  For example, in culinary class, students
   learn to cook many different foods and then they eat them.  Note that culinary
   students cook (and eat) breakfast and lunch for the whole school every day, but
   they also cook special foods that are part of their curriculum, not the meals
   program, and fees pay for the special foods. By the time they finish, culinary
   students are well fed experts in preparing multi-course meals.  In the fishing
   course, students' fees pay for licenses.  Every student is admitted to NCS and
   enrolled in courses regardless of ability to pay.  But we urge all families to
   pay what they can, sharing the burden of expenses in these hard times.
</p>

<p>
   Because teaching sustainable life choices is part of the mission of Network
   Charter School, we encourage all students to travel by foot, bike, or LTD bus.
   We can provide bus passes to all students through a special arrangement with
   LTD, but we strongly urge all families to contribute to the cost of these
   passes, which is about 117 per quarter or 150 for the whole year.
</p>

<p>
   At enrollment, our first concern is to provide each student with the
   educational experience that will be most personally rewarding while at the same
   time meeting state middle and high school standards.  We do fundraising to fill
   in the gaps between what we receive from public funding and parent
   contributions, on one hand, and what it costs to provide a comprehensive,
   responsive educational program, on the other.
</p>

{% endblock %}
