{% extends "master.html" %}

{% block body %}
   <p>
       Network Charter School is a public school chartered by the
       Eugene 4J School District in 2003. Admission is free of charge
       and open to all Lane County students in grades 7 through 12,
       regardless of their resident school district.
   </p>

   <p>    
       If you are looking for a truly unique and stimulating
       environment, NCS might be the right choice for you. Our classes
       are small, enabling our teachers to provide students with a
       great deal of individual attention and more personalized work
       than is possible in a conventional classroom.
   </p>

   <p>
       We offer a hands-on environment that provides students with an
       experiential education, incorporating both academic excellence
       and practical skills. We have students from many surrounding
       school districts and provide a bus pass to help with
       transportation.
   </p>
   <p>
       If you have questions or would like to enroll, contact us at
       <span class="ncs-phone phone">541-344-1229</span> or send an
       email to <span class="ncs-email email">
          <a href="mailto://info&#064;networkcharterschool.org">
           info@networkcharterschool.org.
          </a>
       </span>
   </p>
{% endblock %}
