{% extends "master.html" %}

{% block body %}
<p>
   Have you ever wondered what Network Charter School is all about? Are you
   looking for a school that can give your child a safe and secure place to
   thrive? Watch the movie clip below and find out how your child's life can
   change forever - for the better!
</p>
 
<p>
   Amazing gourmet, healthy food prepared every day by and for teenagers? Watch
   the clip below to learn why our students can never get out of cooking dinner
   again after their NCS education.
</p>

<iframe allowfullscreen="" frameborder="0" height="315" seamless="seamless" src="http://www.kval.com/news/local/Students-cook-school-meals-for-class-credit-206005821.html?embed" width="560" class="centered"></iframe>


<p>
   Questions or comments regarding the site may be sent to:
   <a href="mailto:info@networkcharterschool.org">info@networkcharterschool.org</a>.
</p>

{% endblock %}
