{%extends "master.html" %}

{% block body %}
<h2>Le Petit Gourmet</h2>

<img src="/resources/images/LPLogo.gif" alt="Let Petit Gourmet Logo" class="partner-logo">
<div class="partner-address">
   Culinary Arts Program <br>
   2550 Portland St. <br>
   Eugene, OR 97405 <br>
   <a href="tel://5415251924" class="partner-phone">(541) 525-1924</a><br>
   <a href="mailto://lepetitgourmet@comcast.net" class="partner-email">lepetitgourmet@comcast.net</a>
</div>

<h3>Mission</h3>

<p>
   Our goal is to offer students an intensive course of study in the Culinary
   Arts. This program serves the student who hopes to continue into a college
   level program of culinary arts after graduation, as well as the student who
   hopes to get a head start in the food service job market.
</p>

<p>
   At the Le Petit Gourmet Culinary Arts Program, we recognize that each
   student has a unique style of learning. Our program is designed for the
   student ready to push beyond the four walls of the traditional classroom.
</p>

<h3>History</h3>

<p>
   Le Petit Gourmet Bakery was founded in 1985. We were originally located in the
   Oasis Market on Willamette Street. After fifteen years of running a bakery,
   Domenica Stewart, the owner of Le Petit Gourmet, decided that educating
   children was a goal nearer to her heart.
</p>

<p>
   Le Petit Gourmet Culinary Arts is now a program of the Network Charter School.
   The Network Charter School program offers English/Language Arts, foreign
   language, social studies, acting, music, and Restaurant Baking classes with a
   culinary arts component. Our Restaurant Baking Class is also a College Now
   course.
</p>

 
<p>
   Though Le Petit Gourmet continues to sell bakery products to the Eugene
   community, the production of inspired, competent students is the achievement of
   which we are most proud.
</p>

<h3>Program Set-UP / Course Offerings</h3>
 
<p>
   Our course study is hands-on. Students receive invaluable job skills as well as
   life skills.
</p>
 

<p>
   For the non-traditional student we offer a unique opportunity to explore and
   excel in non-academic areas of interest in conjunction with academic
   requirements. This balanced approach to education re-engages the student who is
   at risk of disengaging from the educational process.
</p>
 

<p>
   Courses offered are listed under <a href="classes.html">the "Course Catalog"
   Tab</a>.
</p>
 
{% endblock %}
