<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}Network Charter School{% endblock %}</title>
      <link type="text/css" rel="stylesheet" href="resources/template.css">
      <script src="resources/javascript/jquery-2.1.0.min.js"></script>
      <script src="resources/javascript/template.js"></script>

      <meta name="viewport" content="width=device-width">

      {% block extrahead %}
      {% endblock %}
    </head>
    <body>
        <header>
            <img src="resources/images/NCSLogo.png"
                 alt="Network Charter School logo"
                 title="Network Charter School logo"
                 id="ncs-logo">
            <h1>Network Charter School</h1>
            <nav>
               {# This is hidden on big screens but becomes visible on
                  mobile devices when the menu is hidden. #}
                <a id="menu-button">Menu</a>
                <ol id="nav-menu">
                   {% for menuEntry in menu|keys %}
                   <li class="dropdown-button">
                     {{ menuEntry }}
                     <ol class="dropdown-list">
                        {% for item in menu[menuEntry] %}
                        <li class="dropdown-item">
                           <a href="{{ item.url }}">{{ item.menu_text }}</a>
                        </li>
                        {% endfor %}
                     </ol>
                   </li>
                   {% endfor %}
                </ol>
            </nav>
            <div class="clearfix"></div>
        </header>
        <article>
           {% block body %}
           {% endblock %}
        </article>
        <footer>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal-form">
                <p class="rtecenter">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="44PSHZ4XZE434">
                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
                           name="submit" alt="Donate with PayPal">
                    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif">
                </p>
            </form>
            <div id="footer-copyright">
                All content is Copyright &copy; 2014 Network Charter School.<br>
                Network Charter School is a Non-Profit Organization.
            </div>
        </footer>
    </body>
</html>
