{%extends "master.html" %}

{% block body %}
<h2>M.E.C.C.A.</h2>
<img src="/resources/images/MELogo.gif" alt="MECCA Logo" class="partner-logo">
<div class="partner-address">
   449 Willamette<br>
   Eugene, OR 97401<br>
   <a href="tel://5413021810" class="partner-phone">(541) 302-1810</a><br>
   <a href="www.materials-exchange.org" class="partner-url">www.materials-exchange.org</a><br>
   <a href="mailto://info@materials-exchange.org" class="partner-email">info@materials-exchange.org</a>
</div>

<h3>Mission</h3>
 

<p>
   M.E.C.C.A, the Materials Exchange Center for Community Arts, is a 501(c)3
   organization in Eugene, Oregon. We divert useful materials from the waste
   stream and teach others how to make art with them. Our office, studio, and
   resource center are located at 449 Willamette, and we are dedicated to
   providing access to low-cost arts education and materials to the public.
</p>

<h3>History</h3>
 
<p>
   Our Materials Exchange is thriving since its Grand Opening in August 2002. We
   have successfully diverted hundreds and hundreds of pounds of reusable
   materials from the landfill. Our store houses many materials that encourage
   artists, teachers and the public to reuse and rethink what can be done with the
   ordinary materials around them. Come on in and scavenge with us!
</p>

<p>
   Our NCS instructor, Perry Joseph, is licensed to teach art, science, and
   math.  He is also a talented professional printmaker whose art is exhibited
   in public and private settings in the Northwest.
</p>

<p>
   Courses offered are listed under <a href="classes.html">the "Course Catalog"
   Tab</a>.
</p>
 
{% endblock %}
