{%extends "master.html" %}

{% block body %}
<h2>Nearby Nature</h2>
<img src="/resources/images/NNLogo.gif" alt="Nearby Nature Logo" class="partner-logo">
<div class="partner-address">
   P.O. Box 3678<br>
   Eugene OR 97403<br>
   <a href="tel://5416879699" class="partner-phone">(541) 687-9699</a><br>
   <a href="www.nearbynature.org" class="partner-url">www.nearbynature.org </a><br>
   <a href="mailto://info@nearbynature.org" class="partner-email">info@nearbynature.org</a>
</div>

<h3>Mission</h3>
 
<p>
   Nearby Nature is a non-profit education organization dedicated to fostering
   appreciation of nature in our own backyards and public spaces and providing
   tools for ecological living. Our staff and volunteers lead nature walks,
   teach summer day camps, host school programs, and work on environmental
   restoration projects primarily in Alton Baker Park, the Willamette River and
   Amazon Creek watersheds.
</p>

<h3>History</h3>
 
<p>
   In 1992, a dedicated group of environmental educators and local residents
   formed an organization to help community members discover, experience, and
   care for local natural areas. Several of these individuals had successfully
   worked to promote a local ballot measure to protect Alton Baker Park from
   becoming a golf course. Since that time, Nearby Nature has touched the lives
   of thousands of people through nature education and restoration programs
   that delight, challenge, and inform. Every year roughly 3,200 children
   explore the "wild side" of Alton Baker Park through our school walks
   program, summer day camps, monthly nature quests, and unique special events.
   More have participated in our in-school and after-school programs. Hundreds
   of adults have taken part in our ongoing restoration projects, public nature
   walks, and our volunteer guide program. Starting in 2001, Nearby Nature
   staff played a key role in developing the proposal for Network Charter
   School to the Eugene 4J School District.
</p>

 
<h3>Program Set-UP / Course Offerings</h3>
 
<p>
   Nearby Nature's offerings for Network Charter School integrate academics
   with hands-on activities, career related skills, field trips to local
   natural areas and public libraries, and more. All of our classes revisit our
   mission to focus on nature, natural history, or ecological sustainability.
   For example, in addition to life and earth sciences, physical geography,
   natural history and outdoor literature, our physical education classes make
   an effort to visit green spaces throughout the city of Eugene, our health
   classes investigate environmental health issues, and our math classes study
   practical, real world situations.
</p>

<p>
   Like other Network classes, our class sizes are small, affording great
   opportunities for teacher and student contact. Many of our science classes
   meet at our yurt in Alton Baker Park, allowing students to study and explore
   local nature.
</p>

<p>
   Note on math:  All math courses are paired with other content areas in
   three-hour class sessions.  For 90 minutes, students attend the paired
   course, eg Calculating the Future (environmental studies) or Ultimate
   Frisbee (PE).  For the other 90 minutes, students are grouped according to
   math needs, regardless of grade or age.  The math courses address state
   requirements; every student receives strong support for earning the credits
   required for a diploma. Faculty members are highly qualified to teach
   courses from fundamentals through calculus.  Project-based math focuses on
   critical thinking and includes fundamentals and topics in algebra.  We use
   an externally developed assessment system to track progress, identify
   students' needs, and adjust instructional groups to nurture optimal
   learning.
</p>

<p>
   Courses offered are listed under <a href="classes.html">the "Course Catalog"
   Tab</a>.
</p>
{% endblock %}
