{%extends "master.html" %}

{% block body %}
<h2>Peace Village</h2>
<img src="/resources/images/PVLogo.gif" alt="Peace Village Logo" class="partner-logo">
<div class="partner-address">
   PO Box 2635<br>
   Eugene, OR 97402<br>
   <a href="tel://5413387001" class="partner-phone">(541) 338-7001</a>
</div>

<h3>Mission</h3>

<p>
   Peace Village is a non-profit organization based in Eugene, Oregon. Our main
   goal is to establish educational programs that provide young people with an
   understanding of peacemaking through interfaith dialogue, and an awareness
   of the relationship between themselves, their cultures and their
   environment.
</p>
 
<p>
   Through an integrated network of teen programs, summer camps, and college
   internship opportunities, Peace Village provides a host of educational
   modalities from experiential and service learning programs to practical
   mediation skills and interfaith sharing.
</p>

<p>
   We are constantly seeking new venues and new teachers to add to our network
   of people dedicated to the precept that global community, and not global
   violence, is our only possible future.
</p>

<p>
   Courses offered are listed under <a href="classes.html">the "Course Catalog"
   Tab</a>.
</p>
{% endblock %}
